<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title class='title'>Ingredient list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="New Ingredient" [(ngModel)]="newTask"></ion-input>
    <ion-button color="dark" (click)="postTodo(newTask)">Add</ion-button>
  </ion-item>

  <div *ngIf='onlineTask$ | async as tsks'>
    <div *ngFor="let tsk of tsks; index as i">
      <ion-item (click)="deleteTodo(tsks[i])">
          <ion-label>{{ tsk }}</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
