<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title class='title'>Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="New Task" [(ngModel)]="newTask"></ion-input>
    <ion-button color="dark" (click)="addNewTask(newTask)">Add</ion-button>
  </ion-item>
  <div *ngFor="let task of taskList; index as i">
    <ion-item (click)="taskDone(i)">
      <ion-label>{{ task }}</ion-label>
    </ion-item>
  </div>
</ion-content>
