<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
<ion-title class='title'>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This web app is created with ionic. This app is made to be submit as a final project for Advance Computer Programming course of Prof Sukree.</p>
  <p><strong>Ingredient List</strong> is for listing all the ingredient you wish to buy so that you don't have to memorize.<p>
  <p><strong>Weather</strong> is for checking the weather before going outside so that you should know when to leave.</p>
  <p><strong>Calculator</strong> is for calculating your spendings and also tip.</p>
  <h1>Credit: </h1>
  <p>Patthanat Thanintantrakun 6131835621</p>
  <p>Chanyut Yuvacharuskul 6131741221</p>
</ion-content>
