<ion-header>
  <ion-toolbar>
    <ion-title class='title'>
      Essential App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="homeButton" size="large" color="dark" expand="block" routerLink='/todo/' routerDirection='forward'>Todo list</ion-button>
  <ion-button class="homeButton" size="large" color="dark" expand="block" routerLink='/calculator/' routerDirection='forward'>Calculator</ion-button>
  <ion-button class="homeButton" size="large" color="dark" expand="block" routerLink='/weather/' routerDirection='forward'>Weather Forecast</ion-button>
  <ion-button class="homeButton" size="large" color="light" expand="block" routerLink='/about/' routerDirection='forward'>About</ion-button>
</ion-content>
